body {
        font-family: sans-serif;
        padding: 20px;
        background-color: #f0f0f0;
    }

    h1 {
        text-align: center;
    }

    .controls {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .container_controls {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #preview {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
    }

    .palette {
        display: flex;
        flex-wrap: wrap;
        align-items: space-around;
        gap: 10px;
        margin-top: 20px;
    }

    .color {
        display: flex;
        width: 80px;
        height: 80px;
        cursor: pointer;
        position: relative;
        border: 1px solid #000;
        padding-left: 10px;
    }

    .color span {
        justify-self: center;
        align-self: center;
        bottom: 2px;
        left: 2px;
        font-size: 10px;
        background: rgba(255,255,255,0.7);
        padding: 1px 3px;
    }
    

    .color button {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 10px;
        cursor: pointer;
    }
    .color button:hover {
        background-color: #ea4d4d;
        color: #ffffff;
    }